<h1>Избранные товары</h1>

<ul>
    {% for favorite in favorites %}
        <li>
            <img src="{{ favorite.product.image.url }}" alt="{{ favorite.product.name }}" width="100">
            <a href="{% url 'product-detail' favorite.product.id %}">{{ favorite.product.name }}</a>
            <form action="{% url 'toggle-favorite' favorite.product.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="action" value="remove">Удалить из избранного</button>
            </form>
        </li>
    {% endfor %}
</ul>
